.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    justify-content: start;
}

@media screen and (min-width: 560px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

@media screen and (min-width: 810px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}
