.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    color: white;
    padding: 15px 0 0 0;
    box-sizing: border-box;
}


.container a{
    color: white;
}

.navigation{
    text-align: center;
}

.navigation ul li{
    padding: 0 20px 15px;
}

.links{
    text-align: center;
}

.links a{
    text-decoration: none;
}

.copy{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy svg{
    margin: 15px 15px 15px 0;
}

@media screen and (min-width: 768px) {
    .container{
        flex-direction: row;
        align-items: center;
        padding: 15px;
        justify-content: space-between;
    }

    .copy{
        order: 1;
    }

    .navigation {
        order: 2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navigation ul li{
        padding: 0 10px 0;
    }

    .links{
        order: 3;
    }
}
